:root {
    --primary-color: rgb(252, 249, 245);
    --secondary-color: black;
    --font-family: monospace;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: var(--font-size);
    font-family: var(--font-family);


}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.content {
    flex: 1;
    background-color: var(--primary-color);

}

#logo {
    width: 70%;
}

header {
    width: 100%;
    font-size: 18px !important;
    font-weight: bold;
    background-color: var(--primary-color);
    border-bottom: 2px solid black;
    height: 15vh;
}

.search {
    border-radius: 200px !important;

}



.icon {
    transition: transform 1s, box-shadow 2s;
    color: black;

}

.icon:hover {
    transform: scale(1.3);
}

.navbar{
    position: relative;
    z-index: 1000;
}
#navbarSupportedContent
{
    background-color: var(--primary-color);
}

.out:hover
{
    color: rgb(202, 0, 0) ;
}




  
  
